body {
    width: 100 wh;
    height: 90vh;
    color: #fff;
    background: linear-gradient(-45deg, #dc9a89, #8a99e7, #23A6D5, #60d5ca);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    font-family: 'Century Gothic', sans-serif;
    display: flex;
    justify-content: center;
    transition: transform is easy;
}
h1 {
    font-size: 3em;
    font-style: oblique;
    line-height: 1em;
    text-align: center;
    color: #a6e4ff;
}
h2 {
    font-size: 1.5em;
    font-style: oblique;
    line-height: 1em;
    text-align: center;
    color: #a6e4ff;
}
@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
@keyframes slide {
    0% {
        left: 0;
        top: 0;
    }
    50% {
        left: 244px;
        top: 100px;
    }
    100% {
        left: 488px;
        top: 0;
    }
}

.info {
    text-align: center;

}
.weather{
    font-size: 2em;
    font-style: oblique;
    justify-content: center;
    align-content: center;
    vertical-align: middle;

}
.card{
    font-size: 0.7em;
    color: #c5f8ff;
    margin-top: 50px;
}
.cardElement{
    padding: 0;
    margin:0 auto;

}
.cardDiv{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}
.img{
    float: left;
    margin: 1px;
}
.temp{
    font-size:4em;
    font-style: oblique;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.city{
    font-size:2em;
    font-style: oblique;
    margin: 0 auto;

}
.text{
    font-size: 0.8em;
    font-style: oblique;
    margin: 5px;
    float: left;

}

.input {
    border: 1px solid #ffffff;
    background: transparent;
    font-size: 1.5em;
    color:white;
    padding: 0.5em 0.5em 0.5em 0.5em;
    font-style: oblique;
}
.inputleft {
    position:absolute;
    left: 1%;
    top: 1%;
    border: 1px solid #ffffff;
    background: transparent;
    font-size: 1.5em;
    color:white;
    padding: 0.5em 0.5em 0.5em 0.5em;
    font-style: oblique;

}
.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: 1px solid #fff6ef;
    border-radius: 0.6em;
    color: #fffef5;
    cursor: pointer;
    font-size: 1.5rem;
    line-height: 1;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 0.5em 0.5em;
    text-decoration: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

}
.btnleft {
    visibility: hidden;

}
.modal {
    font-size: 1.2em;
    font-style: oblique;
    margin: 5px;
    float: left;
}
.standart {

}
.left {
    display:block;
    position: absolute;
    left: 1%;
    top: 5%;
    width:50px
}
.left tr {max-width:20px;}

.btn:hover, .btn:focus {
    color: #000000;
    outline: 0;
    box-shadow: 0 0 40px 40px #fffbf5 inset;
}
.table {
    display: table;
    padding: 0.5em 0 0 0;
    position: relative;

}
.tbody {
    cursor: pointer;
    transition: background 9999999s;
    user-select: none;
}

.tbody :hover {
    background-color: #9cc8ff;
    color: #403E10;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
    position: relative;


}
.div {
    display: table;
}
.divleft {
    position:absolute;
    left: 1%;
    top: 1%;
}
.td,  .th {
    padding-bottom: 0.5em;
    padding-top: 0;
    padding-left: 0.1em;
    position: relative;
}
.tdleft, .thleft {
    padding-bottom: 0.5em;
    padding-top: 0;
    padding-left: 0.1em;
    position: relative;
    width:30em;
}
