body {
    width: 100 wh;
    height: 90vh;
    color: #fff;
    background: linear-gradient(-45deg, #dc9a89, #8a99e7, #23A6D5, #60d5ca);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    text-align: center;
    font-family: 'Century Gothic', sans-serif;
}

h1 {
    font-size: 3em;
    font-style: oblique;
    line-height: 1em;
    text-align: center;
    color: #a6e4ff;
}

h2 {
    font-size: 1.5em;
    font-style: oblique;
    line-height: 1em;
    text-align: center;
    color: #a6e4ff;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-webkit-keyframes slide {
    0% {
        left: 0;
        top: 0;
    }
    50% {
        left: 244px;
        top: 100px;
    }
    100% {
        left: 488px;
        top: 0;
    }
}

@keyframes slide {
    0% {
        left: 0;
        top: 0;
    }
    50% {
        left: 244px;
        top: 100px;
    }
    100% {
        left: 488px;
        top: 0;
    }
}

.info {
    text-align: center;
}

.weather {
    font-size: 2em;
    font-style: oblique;
    height: 10em;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.weatherDiv {
    font-size: 2em;
    font-style: oblique;
}

.card {
    display: inline-block;
    margin: 0 auto;/*центрируем ее*/
}
.card :last-child {
    margin-right: 0px;/*Убираем поле последнего div-а*/
}

.cardElement {
    padding: 0;
    margin: 5px;
    color: #c7f1ff;

}
.cardElementTemp {
    text-align: center;
    color: #cec3ff;
    font-size: 2em;
    font-style: oblique;
    margin: 0.5em 1em 1em 0em;
    display: inline-block;
}

.cardDiv {
    margin: 15px;
    float: left; /*Задаем обтекание*/
    line-height: 35px;/*Высота строки +  верт. центрирования текста*/
    font-size: 0.8em;
    background: #9a75ff;
    color: white;
    width: 200px; /*Фиксируем ширину блока*/
    text-align: center; /*Центрируем текст по горизонтали*/
}

.img {
    font-size: 4em;
    font-style: oblique;
    display: inline-block;
    margin: 0em 0.2em -0.1em 0em;

}

.imgDiv {
    display: inline-block;
    margin: 0;

}

.temp {
    font-size: 4em;
    font-style: oblique;
    margin: 0.2em 0em 0 0;
    display: inline-block;

}

.city {
    font-size: 2em;
    font-style: oblique;
    margin: 0 auto;
    max-width: 15em;
    text-align: center;

}

.description {
    font-size: 1.5em;
    font-style: oblique;
    margin: 0 auto;

}

.text {
    font-size: 0.8em;
    font-style: oblique;
}

.form {
    margin: 5px;
    padding: 0;
}

.input {
    border: 1px solid #ffffff;
    background: transparent;
    font-size: 1.5em;
    color: white;
    padding: 0.5em 0.5em 0.5em 0.5em;
    font-style: oblique;
    position: relative;

}

.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: 1px solid #fff6ef;
    border-radius: 0.6em;
    color: #fffef5;
    cursor: pointer;
    font-size: 1.5em;
    line-height: 1;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 0.5em 0.5em;
    text-decoration: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

}

.btnleft {
    visibility: hidden;

}

.standart {
    font-size: 1.2em;
    font-style: oblique;
    margin: 0 auto;
    display: table;
}

.left {
    display: block;
    position: absolute;
    left: 1%;
    top: 5%;
    width: 50px
}

.left tr {
    max-width: 20px;
}

.btn:hover, .btn:focus {
    color: #000000;
    outline: 0;
    box-shadow: 0 0 40px 40px #fffbf5 inset;
}

.tableMod {
    background-color: rgba(255, 0, 0, 0.6);
    padding: 0.5em 0 0 0;
    position: relative;
    margin: 3px;
}

.tbodyMod {
    cursor: pointer;
    transition: background 9999999s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tbodyMod :hover {
    background-color: #9cc8ff;
    color: #403E10;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;

}

.div {
    text-align: center;
    display: inline-block;
    margin: 5px;
}


.divleft {
    display: inline-block;
    position: absolute;
    left: 1%;
    top: 1%;
    margin: 5px;
    width: 23%;
}

.tdMod, .thMod {
    padding-bottom: 0.5em;
    padding-top: 0;
    padding-left: 0.1em;
    width: 25em;
    max-width: 30em;
}

.tdleft, .thleft {
    padding-bottom: 0.5em;
    padding-top: 0;
    padding-left: 0.1em;
    position: relative;
    width: 25em;
    max-width: 30em;
}

.tableWeather {
    padding: 0.5em 0 0 0;
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto;

}
.td, .th {
    border: 1px solid black;
    border-collapse: collapse;

}
.time{
    font-size: 1.2em;
    font-style: oblique;
    margin: 0 auto;
    text-align: center;
    color: #c4fff7;

}

